node_modules
/public/css
/public/js
/public/vendor
/public/hot
/public/storage
/public/images
/public/*.jpeg
/public/*.jpg
/storage/*.key
/var
/storage/api-docs/
/vendor
/var
google-application-credentials.json

npm-debug.log
yarn-error.log
.phpunit.result.cache

#ENVs
/.vagrant
Homestead.json
Homestead.yaml

.env.*.php
.env.php
.env

#VIM
*.un~
*.md~
*.js~
*.swp
*.swo
*.swn
*.swm
*.*~

# IDEs
.work
.idea
.vscode
.kibana

.DS_Store


/build-deploy/nginx/domains.d/react.conf
/build-deploy/nginx/domains.d/laravel.conf

/frontend/yarn.lock
