.photo-upload-modal button{
    display: none
}
.photo-upload-modal {    
    .action-bar {
        background: #4ed4fa;
        border-radius: 10px;
        margin: 0px;
        padding: 15px 10px;
    }
}